

/* phones */
@media only screen and (max-width: 420px) {
    .navbar
     {
        padding: 2%;
        margin: 0%;
        width: 99%;
    }

    #site-title h3 {
        padding-top: 10%;
    }

    .site-title h1 {
        font-size: 41px;
    }

    #about {
        padding: 2%;
    }

    .languages {
        padding: 2%;
        padding-right: 0;
        padding-top: 10rem;
    }


    
    #languages-pic {
        width: 60%;
        margin-left: 7rem;
        margin-top: 10rem;
    }

    #skills {
        padding: 2%;
    }

    .skills {
        padding-right: 2rem;
        padding-top: 10rem;
    }

    #skills-pic {
        width: 90%;
        padding-top: 10rem;
    }

    .skills-list {
        padding-left: 0;
    }


    .projects {
        padding: 5%;
        padding-top: 10rem;
    }

    /*.card {
        width: 20rem;
    }*/

    #self-portrait {
        width: 90%;
    }

    #footer {
        padding: 2%;
    }

    .contact {
        padding: 5%;
    }

    .project {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px){
    #skills-pic {
        width: 200%;
        padding-top: 5rem;
    }

    #languages-pic {
        width: 150%;
        padding-top: 5rem;
        padding-left: 3rem;
    }

    #footer {
        padding: 2%;
    }

    .contact {
        padding: 5%;
    }

    .project {
        width: 100%;
    }
}

/*@media only screen and (max-width: 1700px) {
    .project {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    .project {
        max-width: 10%;
    }
}*/



/* tablets */

/*@media only screen and (max-width: 1000px) {
    .navbar {
        width: 99%;
    }

    .languages {
        padding: 2%;
    }

    #languages-pic {
        width: 150%;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .skills {
        padding: 2%;
    }

    #skills-pic {
        width: 150%;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .footer {
        width: 120%;
    }*/
