
/* phones */
@media only screen and (max-width: 420px) {
    .navbar
     {
        padding: 2%;
        margin: 0%;
        width: 99%;
    }

    #site-title h3 {
        padding-top: 10%;
    }

    .site-title h1 {
        font-size: 41px;
    }

    #about {
        padding: 2%;
    }

    .languages {
        padding: 2%;
        padding-right: 0;
    }


    
    #languages-pic {
        width: 50%;
        margin-left: 7rem;
        margin-top: 10rem;
    }

    #skills {
        padding: 2%;
    }

    .skills {
        padding-right: 2rem;
    }

    #skills-pic {
        width: 75%;
        padding-top: 10rem;
    }

    .skills-list {
        padding-left: 0;
    }


    .projects {
        padding: 5%;
    }

    .card {
        width: 20rem;
    }

    #self-portrait {
        width: 90%;
    }

    #footer {
        padding: 2%;
    }

    .contact {
        padding: 5%;
    }
}

/* tablets */

/*@media only screen and (max-width: 1000px) {
    .navbar {
        width: 99%;
    }

    .languages {
        padding: 2%;
    }

    #languages-pic {
        width: 150%;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .skills {
        padding: 2%;
    }

    #skills-pic {
        width: 150%;
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .footer {
        width: 120%;
    }*/
